* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #20100E;
    color: white;
    width: 100%;
    overflow-x: hidden;
}

/* Navbar start */
header{
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 5%;
    background: rgba(50,50,50,0.7);
    backdrop-filter: blur(10px);
    /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.logo {
    color: #B7622C;
    cursor: pointer;
}

.navbar a{
    text-decoration: none;
    color: #5F605B;
    transition: 0.3s;
    white-space: nowrap; 
}

.nav-icons a i{
    font-size: clamp(14px,2vw, 20px);
}


.nav-icons{
    display: flex;
    gap: clamp(10px, 2vw, 20px);
}

.menu a{
    font-size: clamp(14px,2vw, 20px);
}

.menu {
    display: flex;
    gap: clamp(10px, 2vw, 20px);
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
}

.menu a:hover , .nav-icons a:hover {
    color: #B7622C;
}

.toggle{
    display: none;
    font-size: 28px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggle:hover {
    transform: translateY(-2px);
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 10001;
    height: 100vh; 
    bottom: 0;   
    width: 0;
    left: 0;
    color: #5F605B;
    background: rgba(50,50,50,0.7);
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    transition: 0.4s ease;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}

.slogo{
    font-size: clamp(18px,2vw, 24px);
    color: #B7622C;
    font-weight: bold;
}

.closebtn{
    font-size: 24px;
}


.side-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5F605B;
    /* padding-bottom: 20px; */
}

.side-padd{
    padding: 20px 10% 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.sidenav a{
    color: #5F605B;
    text-decoration: none;
}

.closebtn:hover , .side-menu a:hover ,.side-icons a:hover {
    color: #B7622C;
}
.side-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding-bottom: 20px; */
}

.side-icons{
    display: flex;
    gap: 20px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 9998;
    backdrop-filter: blur(4px); 
}


/* navbar end */

/* header start */
.head{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 30px 5%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), #20100E);
}

.head img{
    flex: 1;
    max-width: 800px;
    width: 100%;
    height: auto;
    padding: 0;
    transition:all 0.3s ease;
}
.head img:hover{
    transform: translateY(-5px);
}

.head-content{
    flex: 1;
    max-width: 550px;
}

.head .head-content h1{
    font-size: clamp(36px, 5vw, 64px);
    color: #B7622C;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: 1.1;
}

.head .head-content p{
    font-size: clamp(18px, 2vw, 28px);
    color: #5F605B;
    line-height: 1.5;
}

/* header end */

/* Specifications start */
.specs {
    padding: 0px 10%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), #0f0f0f);
    color: white;
    height: 90vh;

}

.title{
    text-align: center;
    color: #923B1B;
    font-weight: 800;
    padding: 30px 0px 60px 0px;
    font-size: clamp(26px, 2.5vw, 30px);
}

.specs-table {
    width: 100%;
    border-collapse: collapse;
    background: #5F605B;
    border-radius: 10px;
    overflow: hidden;
}

.specs-table th {
    /* background: #5E3123;  */
    background: rgba(50,50,50,0.7);
    color: #ffffff;
    text-align: left;
    padding: 15px;
    font-size: 18px;
}

.specs-table td {
    padding: 15px;
    border-bottom: 1px solid #333;
    font-size: 16px;
}

.specs-table tr:hover {
    background: #B7622C;
    transition: 0.3s;
}

/* Specifications end */


/* Gallery atart */
/* 
.gallery-section {
    width: 100%;
    margin: auto;
    text-align: center;
    height: 94vh;
    background: linear-gradient(to top, rgba(0,0,0,0.7), #20100E);
}

.small-gallery-section{
    margin: auto;
    text-align: center;
    width: 90%;
}

.slider {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    position: relative;
}

.slide {
    width: 100%;
    display: none;
    border-radius: 10px;
    object-fit: cover;
    height: 500px;
}

.slide.active {
    display: block;
}

.prev,.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(50,50,50,0.7);
    border: none;
    color: #5F605B;
    font-size: clamp(20px,5vw,30px);
    padding: clamp(15px,5vw,18px);
    cursor: pointer;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    z-index: 10;
    transition: 0.3s;
}

.prev:hover,.next:hover {
    background: #B7622C;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
} */

/* Gallery end */

/* video start */
.video-section {
    padding: 80px 10%;
    background: linear-gradient(to top, rgba(0,0,0,0.7), #20100E);
    text-align: center;
    margin: auto;
}

.video-container {
    max-width: 1000px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.video-container video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}

/* video end */

/* Features start */
.features{
    padding: 10px 10% 80px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), #0f0f0f);
    color: white;
    
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
}

.card{
    background-color: #5F605B;
    border-radius: 10px;
    padding: 30px 30px;
    text-align: center;
    color:#ffffff;
    align-content: center;
    transition: all 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.card h1{
    padding-bottom: 12px;
    font-size: clamp(20px,2.5vw, 24px);
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    /* background: rgba(201,168,106,0.12); */
    background: linear-gradient(to top, rgba(0,0,0,0.7), #B7622C);
    margin-bottom: 20px;
    }

    .card h2 {
        font-size: clamp(20px,2.5vw, 24px);
        margin-bottom: 14px;
        font-weight: 700;
    }

    .card p {
        color: #c8c8c8;
        line-height: 1.7;
        font-size: clamp(14px,2.5vw, 18px);
    }

    .card-head{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }
/* Features start */

/* footer start */
.footer {
    background: #323232;
    padding: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-logo h2 {
    color: #B7622C;
}

.footer-logo p {
    color: #5F605B;
    margin-top: 10px;
}

.footer-links h3,
.footer-social h3 {
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #5F605B;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    color: #B7622C;
}

.icons a {
    margin-right: 15px;
    font-size: 18px;
    color: #5F605B;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5F605B;
    border-radius: 50%;
    transition: 0.3s;
}

.icons a:hover {
    color: #fff;
    background: #B7622C;
    border-color: #B7622C;
    transform: scale(1.1);
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    color: #5F605B;
    border-top: 1px solid #5F605B;
    padding-top: 20px;
}
/* footer end */


@media (max-width: 850px) {
    .head {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 140px 20px 60px;
    }

    .nav-icons {
        display: none;

    }

    .menu {
        display: none; 
    }

    .navbar{
        gap: 15px;
        padding: 15px 50px;
    }
    
    .toggle{
        display: block;
    }

    .head-content{
        max-width: 100%;
    }

    .head img {
        width: 100%;
        max-width: 600px;
    }
}

@media (min-width: 850px) {
    .sidenav{
        display: none;
    }
}